# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.vercel
.turbo

.claude
docs
plans
CLAUDE.md
spec
playwright.*

# Tests
qe-reports